/* .progressBar {
  width: 100%;
  height: 10px;
  appearance: none;
  -webkit-appearance: none;
}

.progressBar[value]::-webkit-progress-bar {
  background-color: var(--color-black);
}

progressBar::-webkit-progress-value {
  background-color: var(--color-black);
}

progressBar::-webkit-progress-value {
  background-color: var(--color-grey);
} */

progress {
  appearance: none;
  -webkit-appearance: none;

  display: block;
  width: 100%;
  height: 1px;
  border: 0;
}

progress::-webkit-progress-bar {
  background: lightgray;
}

progress::-webkit-progress-value {
  background: var(--color-black);
  transition: width 2s ease-in-out;
}

.slideFooter {
  display: flex;
  flex-direction: row;
  padding: 1.0625rem 1.5rem 1rem;
}

.paintingFooterInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5625rem;
}

.paintingFooterName {
  font-size: 0.875rem;
  line-height: 1.085rem;
}

.artistFooterName {
  font-size: 0.625rem;
  line-height: 0.775rem;
}

.footerBtns {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 1.4525rem;
}

.slideBtnContainer {
  height: 1rem;
}

.slideBtn {
  background-color: transparent;
  border: none;
}

.disabled {
  fill: var(--color-grey);
}
